@page "/"

<PageTitle>Inicio</PageTitle>

<h1><center>Registro Expediente</center></h1>
<p>Bienvenido/a al programa de registro de expedientes. Este programa te ayudará a llevar un registro preciso y organizado de todos los expedientes de tu organización.

Con nuestro programa, podrás agregar, modificar y consultar fácilmente la información de cada expediente, lo que te permitirá tener una visión completa y actualizada de todos los asuntos que se están llevando a cabo en tu organización.

Además, nuestro programa cuenta con una interfaz intuitiva y fácil de usar, por lo que podrás comenzar a utilizarlo de manera rápida y sencilla. Y si tienes alguna duda o necesitas ayuda, nuestro equipo de soporte está disponible para brindarte asistencia en cualquier momento.

En resumen, estamos seguros de que nuestro programa de registro de expedientes te ayudará a mejorar la eficiencia y la organización de tu trabajo. ¡Esperamos que lo disfrutes!</p>