<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Registros</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <RadzenPanelMenu class="rz-shadow-3">
            <RadzenPanelMenu class="rz-shadow-3">
                <RadzenPanelMenuItem Text="Registros" Icon="app_registration">
                    <RadzenPanelMenuItem Text="Usuarios" Path="Usuario" Icon="account_circle" />
                    <RadzenPanelMenuItem Text="Expediente" Path="Expediente" Icon="account_circle" />
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Consultas" Icon="screen_search_desktop">
                    <RadzenPanelMenuItem Text="Usuarios" Path="Consulta_expediente" Icon="groups" />
                    <RadzenPanelMenuItem Text="Expedientes" Path="" Icon="groups" />
                </RadzenPanelMenuItem>
            </RadzenPanelMenu>
        </RadzenPanelMenu>
    </nav>
</div>

@code {



    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()

    {
        collapseNavMenu = !collapseNavMenu;

    }
}